@media (hover: hover) {
  .header-btn,
  .hero-btn:hover,
  .cta-btn:hover {
    filter: brightness(1.4);
  }

  /* ******* FOOTER ******* */

  .company-phone a:hover,
  .company-email a:hover {
    color: var(--Button);
  }

  .company-social-media-icons li:hover {
    color: var(--Button);
  }

  .company-links li:hover {
    color: var(--Button);
  }
}

/* *************************** */
/* OVER 500PX */
/* *************************** */

@media (min-width: 500px) {
  .header-logo {
    max-width: 190px;
    margin-bottom: 40px;
  }

  /* ******* HERO - SECTION ******* */

  .hero-heading {
    font-size: clamp(1.5rem, calc(1.21rem + 1.43vw), 2.5rem);
    /* font-size: 24px; */
    /* font-size: 40px; */
    margin-bottom: 14px;
  }

  .hero-paragraph {
    font-family: var(--Text);
    color: var(--Text-Color);
    margin-bottom: 16px;
  }

  .btn {
    width: 280px;
    font-size: 16px;
  }

  /* ******* FEATURE - SECTION ******* */

  main {
    display: grid;
    place-content: center;
    gap: 44px;
    padding: 120px 60px 0 60px;
    background: var(--White);
  }

  .feature-section {
    flex-direction: row;
    text-align: start;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  /* ******* CTA - SECTION ******* */

  .cta-section {
    min-height: 200px;
  }

  .cta-section-inner {
    padding: 38px;
  }

  .cta-heading {
    margin-bottom: 26px;
  }

  .cta-btn {
    width: 400px;
    padding: 22px 32px;
  }

  /* ******* FOOTER ******* */

  .company-info-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

/* *************************** */
/* OVER 800PX */
/* *************************** */

@media (min-width: 1000px) {
  .header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px 0 50px;
  }

  .header-btn {
    display: block;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-family: var(--Text);
    font-weight: 600;
    padding: 14px 32px;
    background: var(--White);
    border-radius: 30px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  /* ******* HERO - SECTION ******* */

  .hero-section {
    min-height: 580px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    padding: 0 40px;
  }

  .hero-heading {
    margin-bottom: 18px;
  }

  .hero-paragraph {
    margin-bottom: 20px;
  }

  .hero-main-content {
    align-items: flex-start;
    text-align: start;
  }

  /* .btn {
    width: 300px;
    font-size: 16px;
  } */

  /* ******* FEATURE - SECTION ******* */

  main {
    display: grid;
    place-content: center;
    gap: 44px;
    padding: 160px 60px 0 60px;
    background: var(--White);
  }

  /* .feature-section {
    flex-direction: row;
    text-align: start;
  } */

  .feature-section {
    padding: 60px 120px;
    gap: 120px;
    /* margin-bottom: 40px; */
  }

  .feature-heading {
    margin-bottom: 14px;
  }

  .feature-paragraph {
    font-size: 18px;
    font-family: var(--Text);
    color: var(--Text-Color);
  }

  /* .users-section {
    margin-bottom: 280px;
  } */

  /* .company-info-container {
    flex-direction: row;
  }

  .company-info-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  } */

  .cta-section-inner {
    padding: 58px;
  }

  .cta-heading {
    margin-bottom: 36px;
  }

  .cta-btn {
    padding: 27px 32px;
  }

  /* ******* FOOTER ******* */

  .footer-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-company-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .company-contact-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .company-addresss,
  .company-phone,
  .company-email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    text-align: start;
  }

  .company-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .company-social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: var(--Pale-Cyan);
    gap: 20px;
    padding: 250px 40px 40px 40px;
    font-family: var(--Text);
  }

  .footer-inner {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .company-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  .company-addresss {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
  }
  .company-addresss,
  .company-phone,
  .company-email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  .footer-container-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  } */
}
