@media (hover: hover) {
  .header-btn:is(:hover, :focus-visible) {
    background: var(--White-Hover);
    outline: none;
  }

  .hero-btn:is(:hover, :focus-visible),
  .cta-btn:is(:hover, :focus-visible) {
    background: var(--Button-Hover);
    outline: none;
  }

  .company-info a:is(:hover, :focus-visible),
  .company-links a:is(:hover, :focus-visible),
  .social-media-icons a:is(:hover, :focus-visible) {
    color: var(--Button);
    outline: none;
  }
}

/* *************************** */
/* OVER 500PX */
/* *************************** */

@media (min-width: 43.75em) {
  .header-logo {
    margin-bottom: 2.5rem;
  }

  /* ******* HERO - SECTION ******* */

  .hero-heading {
    font-size: clamp(1.5rem, calc(1.21rem + 1.43vw), 2.5rem);
    margin-bottom: 0.88rem;
  }

  .hero-paragraph {
    font-family: var(--Text);
    color: var(--Text-Color);
    margin-bottom: 1rem;
  }

  .btn {
    width: 17.5rem;
  }

  /* ******* FEATURE - SECTION ******* */

  main {
    padding: 7.5rem 3.75rem 0 3.75rem;
  }

  .feature-section {
    flex-direction: row;
    text-align: start;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  /* ******* CTA - SECTION ******* */

  .cta-section {
    min-height: 12.5rem;
  }

  .cta-section-inner {
    padding: 2.375rem;
  }

  .cta-heading {
    margin-bottom: 1.63rem;
  }

  .cta-btn {
    width: 25rem;
    padding: 1.38rem 2rem;
  }

  /* ******* FOOTER ******* */

  .company-info-links {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
  }
}

/* *************************** */
/* OVER 850PX */
/* *************************** */

@media (min-width: 53.13em) {
  .footer-inner {
    flex-direction: column;
    align-items: stretch;
  }

  .footer-innner-links {
    grid-template-areas: "info links social-media";
    text-align: start;
  }

  .company-info {
    flex-direction: row;
  }

  .company-links {
    columns: 2;
  }

  .footer-company-links li {
    margin-bottom: 1.25rem;
    transition: var(--Transition);
  }

  .footer-company-links li:nth-child(4) {
    margin-bottom: 0;
  }

  .social-media-icons {
    font-size: 1.88rem;
  }

  .copyright-container {
    align-self: flex-end;
  }
}

/* *************************** */
/* OVER 1000PX */
/* *************************** */

@media (min-width: 1000px) {
  .header-nav {
    justify-content: space-between;
    padding: 3.13rem 3.13rem 0 3.13rem;
  }

  .header-btn {
    display: block;
  }

  /* ******* HERO - SECTION ******* */

  .hero-section {
    flex-direction: row;

    padding: 0 2.5rem;
  }

  .hero-heading {
    margin-bottom: 1.13rem;
  }

  .hero-paragraph {
    margin-bottom: 1.25rem;
  }

  .hero-main-content {
    align-items: flex-start;
    text-align: start;
  }

  /* ******* FEATURE - SECTION ******* */

  main {
    padding: 10rem 3.75rem 0 3.75rem;
  }

  .feature-section {
    padding: 3.75rem 7.5rem;
    gap: 7.5rem;
  }

  .feature-paragraph {
    font-size: 18px;
    font-family: var(--Text);
    color: var(--Text-Color);
  }

  .cta-section-inner {
    padding: 3.63rem;
  }

  .cta-heading {
    margin-bottom: 2.25rem;
  }

  .cta-btn {
    padding: 1.69rem 2rem;
  }
}
